<canvas width="320" id="picture" style="display:none"></canvas>


<div class="text">
  <label class="file-upload">
    <input id="Take-Picture" type="file" accept="image/*;capture=camera" />
    <span>Activate your camera</span>
    <small>(Make sure picture is very clear)</small>
  </label>
  <p id="textbit"></p>
  <p class="result"></p>  
</div>
