<!DOCTYPE html>
<meta charset=utf-8>
<html lang="en">
<head>
  <title>JOB</title>
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="JOB.js"></script>
  <script type="text/javascript" src="main.js"></script>
</body>
</html>
