<!DOCTYPE html>
<meta charset=utf-8>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>OMG MVP</title>
  <link href='http://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>
  <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link href='http://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.2.1/css/material.min.css' rel='stylesheet' type='text/css'>
  <link href='main.css' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="container-fluid">
    <h1>Oh My Goodness</h1>
    <%= yield %>
  </div>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="JOB.js"></script>
  <script type="text/javascript" src="main.js"></script>
</body>
</html>
